flows (2).json
[{"id":"d1272e3e.dddc4","type":"ui_form","z":"6bf129be.be2308","name":"","label":"","group":"f806ebf9.451c68","order":1,"width":0,"height":0,"options":[{"label":"Cement","value":"cmnt","type":"number","required":true,"rows":null},{"label":"Blast Furnace Slag","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"flyash","type":"number","required":true,"rows":null},{"label":"Water","value":"water","type":"number","required":true,"rows":null},{"label":"Super Plasticizer","value":"spz","type":"number","required":true,"rows":null},{"label":"Coarse Aggregate","value":"cagg","type":"number","required":true,"rows":null},{"label":"Fine Aggregate","value":"fagg","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"cmnt":"","bfs":"","flyash":"","water":"","spz":"","cagg":"","fagg":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":60,"y":320,"wires":[["e50a2e9f.76045"]]},{"id":"e50a2e9f.76045","type":"function","z":"6bf129be.be2308","name":"Pre Token","func":"global.set(\"cmnt\",msg.payload.cmnt)\nglobal.set(\"bfs\",msg.payload.bfs)\nglobal.set(\"flyash\",msg.payload.flyash)\nglobal.set(\"water\",msg.payload.water)\nglobal.set(\"spz\",msg.payload.spz)\nglobal.set(\"cagg\",msg.payload.cagg)\nglobal.set(\"fagg\",msg.payload.fagg)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"BCSwUVMrbSYVTlJAbiyCsHJ1zVQuEsZQwcaiV1Li8Ohn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":300,"wires":[["f6ace664.39cc78"]]},{"id":"a02f57ac.445438","type":"function","z":"6bf129be.be2308","name":"Pre Prediction","func":"var cmnt = global.get('cmnt')\nvar bfs = global.get('bfs')\nvar flyash = global.get('flyash')\nvar water = global.get('water')\nvar spz = global.get('spz')\nvar cagg = global.get('cagg')\nvar fagg = global.get('fagg')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"304f05e7-4079-4b04-8139-09b44d17c4b3\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Cement (component 1)(kg in a m^3 mixture)\", \"Blast Furnace Slag (component 2)(kg in a m^3 mixture)\", \"Fly Ash (component 3)(kg in a m^3 mixture)\", \"Water  (component 4)(kg in a m^3 mixture)\", \"Superplasticizer (component 5)(kg in a m^3 mixture)\", \"Coarse Aggregate  (component 6)(kg in a m^3 mixture)\", \"Fine Aggregate (component 7)(kg in a m^3 mixture)\", \"Age (day)\"],\"values\":  [[cmnt,bfs,flyash,water,spz,cagg,fagg,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":300,"wires":[["cc96a7d1.997238"]]},{"id":"cc96a7d1.997238","type":"http request","z":"6bf129be.be2308","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/24c4f39a-8259-4550-979b-fa9edbff50d5/predictions","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":220,"wires":[["fa064e02.84bf","af20eb93.0d4468"]]},{"id":"fa064e02.84bf","type":"debug","z":"6bf129be.be2308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":160,"wires":[]},{"id":"af20eb93.0d4468","type":"function","z":"6bf129be.be2308","name":"Values","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["34af93c9.467bac"]]},{"id":"34af93c9.467bac","type":"ui_text","z":"6bf129be.be2308","group":"f806ebf9.451c68","order":2,"width":0,"height":0,"name":"","label":"Compression Strength","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":320,"wires":[]},{"id":"b3e2dde1.bcea7","type":"ui_text","z":"6bf129be.be2308","group":"f806ebf9.451c68","order":2,"width":0,"height":0,"name":"","label":"Lenin Bakhara RSIP Career Basic ML 170","format":"{{msg.payload}}","layout":"row-left","x":910,"y":360,"wires":[]},{"id":"f6ace664.39cc78","type":"http request","z":"6bf129be.be2308","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":300,"wires":[["a02f57ac.445438"]]},{"id":"f806ebf9.451c68","type":"ui_group","z":"","name":"Determine Compressive Strength","tab":"9d149377.7dc6b","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d149377.7dc6b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]